@model List<FindProductByImage.Models.ProductDetails>

@{
    Layout = null;
}
@using FindProductByImage.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Scan Item Images</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">

        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }


        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>

</head>
<body class="container">
    <br />
    <div class="col-lg-6">
        <form asp-controller="Predict" asp-action="SearchItem" method="get" class="panel">
            <div class="row panel-heading">

                <label class="col-sm-2 col-form-label">Item Name</label>

                <div class="col-sm-6">
                    <input value="" class="form-control" />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
                <div class="col-sm-3">
                    <button type="submit" asp-action="SearchItem" asp-route-id="popcorn" class="btn btn-outline-primary">Search</button>
                </div>

            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ID)*@
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Name)*@
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Price)*@
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>


                                </tr>
                            }
                        }

                    </tbody>
                    @if (Model != null)
                    {
                        <tfoot class="panel-footer"><tr>
    <td></td>
    <td>Total</td>
    <td> @Model.Sum(p => p.Price)</td>
</tr>
                        </tfoot>
                    }
                    </table>

           </div>

       </form>

   </div>

   <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Camera</div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <!-- A button for taking snaps -->
                <form>
                    <input type="button" class="btn btn-success" value="Take Snapshot" onclick="take_snapshot()">
                </form>

            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">Captured Photo</div>
            <div class="panel-body">
                <div id="results">Your captured image will appear here...</div>
            </div>
            <br />
            <br />

        </div>
    </div>

    @*<div class="col-md-4">
        
    </div>*@

    @*<div class="col-md-2">    </div>*@
    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' +
                    data_uri +
                    '"/>';
                
                Webcam.upload(data_uri,
                    '/Prediction/Predict',
                    function (code, text) {
                        

                        window.location.href = '@Url.Action("SearchItem", "Prediction" , new {id = "dummy" })'.replace("dummy", text);
                        
                    });
                
            });

        }
    </script>

</body>
</html>

